name: Release Build

on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      createDraftRelease:
        description: 'Create Github Release Draft'
        required: true
        default: true
        type: boolean
      uploadCurseForge:
        description: 'Upload to CurseForge.com'
        default: true
        type: boolean
      uploadWowInterface:
        description: 'Upload to WoWInterface.com'
        default: true
        type: boolean

env:
  addonName: DevSuite
  curseForgeProjectId: 818084
  wowInterfaceProjectId: -1
  uploadBuildArtifacts: true
  artifact_retentionDays: 7
  releaseDir: ./.release
  refName: ${{ github.ref_name }}
  createDraftRelease: true
  uploadCurseForge: true
  uploadWowInterface: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: write
    steps:
      ## ------------------------------------------------ ##
      ## See: https://github.com/actions/github-script
      - name: "Set Env Variable: GITHUB_SHA_SHORT"
        uses: actions/github-script@v7
        with:
          script: |
            const sha = context.sha.substring(0, 7)
            core.exportVariable('GITHUB_SHA_SHORT', sha)
      ## ------------------------------------------------ ##
      - name: "Set ENV for manual triggers (workflow_dispatch)"
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo createDraftRelease="${{ inputs.createDraftRelease }}" >> $GITHUB_ENV
          echo uploadCurseForge="${{ inputs.uploadCurseForge }}" >> $GITHUB_ENV
          echo uploadWowInterface="${{ inputs.uploadWowInterface }}" >> $GITHUB_ENV
      ## ------------------------------------------------ ##
      - name: "Set ENV Var Option to Skip Uploads on Branch Builds and refName"
        if: ${{ github.ref_type == 'branch' }}
        run: |
          echo packagerOptions="-d" >> $GITHUB_ENV
          echo refName="${GITHUB_SHA_SHORT}" >> $GITHUB_ENV
      ## ------------------------------------------------ ##
      - name: "Set ENV Variable: buildBasePath & buildArtifactFilename"
        run: |
          echo buildBasePath="${releaseDir}/${addonName}" >> $GITHUB_ENV
          echo buildArtifactFilename="${addonName}-${refName}.zip"  >> $GITHUB_ENV
      ## ------------------------------------------------ ##
      - name: "Set ENV Variable: buildArtifact"
        run: |
          echo buildArtifact="${releaseDir}/${buildArtifactFilename}" >> $GITHUB_ENV
          echo sha256Script="./dev/sha256.sh" >> $GITHUB_ENV
      - name: "Set ENV Variable: Upload to CurseForge"
        if: ${{ env.uploadCurseForge != 'false' }}
        run: |
          echo uploadCurseForge="${uploadCurseForge}"
          echo bigWigsUploads="${bigWigsUploads} -p ${curseForgeProjectId}" >> $GITHUB_ENV
          echo CF_API_KEY="${{ secrets.CF_API_KEY }}" >> $GITHUB_ENV
      - name: "Set ENV Variable: Upload to WowInterface"
        if: ${{ env.uploadWowInterface != 'false' }}
        run: |
          echo uploadWowInterface="${uploadWowInterface}"
          echo bigWigsUploads="${bigWigsUploads} -w ${wowInterfaceProjectId}" >> $GITHUB_ENV
          echo WOWI_API_TOKEN="${{ secrets.WOWI_API_TOKEN }}" >> $GITHUB_ENV

      ## ------------------------------------------------ ##
      - name: Print Environment Variables
        run: |
          echo HOME=${HOME}
          echo -------------------------------
          echo uploadCurseForge=${uploadCurseForge}
          echo uploadWowInterface=${uploadWowInterface}
          echo createDraftRelease=${createDraftRelease}
          echo -------------------------------
          echo bigWigsUploads=${bigWigsUploads}
          echo releaseDir=${releaseDir}
          echo refName=${refName}
          echo packagerOptions=${packagerOptions}
          echo addonName=${addonName}
          echo buildArtifact=${buildArtifact}
          echo buildArtifactChecksumFile=${buildArtifactChecksumFile}
          echo buildBasePath=${buildBasePath}
          echo buildArtifactFilename=${buildArtifactFilename}
          echo buildArtifactChecksumFilename=${buildArtifactChecksumFilename}
          echo artifact_retentionDays=${artifact_retentionDays}
          echo sha256Script=${sha256Script}
          echo -------------------------------
          echo "All ENV Vars:"
          echo "$(env|sort)"
      ## ------------------------------------------------ ##
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      ## ------------------------------------------------ ##
      ## see: https://github.com/marketplace/actions/wow-packager
      - uses: BigWigsMods/packager@v2
        with:
          args: -r ${releaseDir} ${bigWigsUploads} ${packagerOptions}
      ## ------------------------------------------------ ##
      - name: "Verify Build Artifact Exists: ${{ env.buildArtifact }}"
        uses: andstor/file-existence-action@v3
        with:
          files: "${{ env.buildArtifact }}"
          fail: true
      ## ------------------------------------------------ ##
      - name: "Verify: Supporting Scripts Exists"
        uses: andstor/file-existence-action@v3
        with:
          files: "${{ env.sha256Script }}"
          fail: true
      ## ------------------------------------------------ ##
      - name: "Setup Build Scripts"
        run: |
          chmod a+x $sha256Script
      ## ------------------------------------------------ ##
      ## Show Directory contents
      - name: "Setup Build Scripts"
        run: |
          echo "------------------------------------"
          echo Current working directory is: "$(pwd)"
          echo "------------------------------------"
          echo "Project Files:"
          echo "$(ls -l)"
          echo "dev:"
          echo "$(ls -l dev/*)"
      ## ------------------------------------------------ ##
      - name: Check Vars
        run: |
          echo buildArtifactChecksum="$($sha256Script $buildArtifact)" >> $GITHUB_ENV
          echo "buildArtifact is $buildArtifact"
          echo "buildArtifactChecksum is $buildArtifactChecksum"
      ## ------------------------------------------------ ##
      - name: Notices
        run: |
          echo -e "::notice::HOME=${HOME}\n::notice::buildArtifact=${buildArtifact}"
          echo ::notice::Uploads CurseForge=${uploadCurseForge}, WoWInterface=${uploadWowInterface}, BigWigs-UploadOptions=${bigWigsUploads}
          echo "::notice::Sha256=${buildArtifactSha256}"

      - name: Create a draft release
        id: create_draft_release
        if: ${{ env.createDraftRelease != 'false' }}
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ env.refName }}
          name: ${{ env.refName }}
          version: ${{ env.refName }}
          prerelease: false
          footer: |
            <br><br>
            #### ${{ env.buildArtifactFilename }}
            ```text
            sha256:${{ env.buildArtifactChecksum }}
            ```
      ## ------------------------------------------------ ##
      ## https://github.com/actions/upload-artifact
      - name: Upload Build Artifact File
        if: ${{ env.uploadBuildArtifacts == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.buildArtifactFilename }}
          path: ${{ env.buildArtifact }}
          retention-days: ${{ env.artifact_retentionDays }}
      ## ------------------------------------------------ ##
      - name: Upload Release Artifact
        if: ${{ env.createDraftRelease == 'true' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_draft_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ${{ env.buildArtifact }}
          asset_name: ${{ env.buildArtifactFilename }}
          asset_content_type: application/zip
